{% extends "base.html" %}
{% load static %}

{% block titulo %}
Carrinho de Compras | {{ block.super }}
{% endblock %}

{% block bloco_variavel %}

<h1 class="centered">Carrinho de Compras</h1><br>
<hr>
<div class="container">
	<div class="row mt">
		<table cellspacing="2" width="500">
			<tr>
				<th>Nome</th>
				<th>Remover</th>
			</tr>
			{% for produto in request.session.carrinhos %}
			<tr>
				<td><a href="{% url 'produtos_detalhes' %}?id={{produto.0}}"></a>{{ produto.1 }}</td>
				<td><a href="{% url 'carrinho' %}?op=remover&id={{produto.0}}"><button type="button" class="btn btn-danger">-</button></a></a></td>
			</tr>
			{% empty %}
			<td rowspan="2">Não há cursos no carrinho!</td>

			{% endfor %}
		</table>
		<p class="pull-left"><br>
		<a href="{% url 'produtos' %}"><button type="button" class="btn">Continuar Pesquisando</button></a>
		<a href=""><button type="button" class="btn">Atualizar Carrinho</button></a>
		<a href="{% url 'finalizar_compra' %}"><button type="button" class="btn btn-green">Finalizar Compras</button></a>
		</p>
	</div>
</div>

{% endblock %}