{% extends "base.html" %}

{% block titulo %}
  Relatórios de Vendas| {{ block.super }}
{% endblock %}


{% block item_ativo %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Início
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contatos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login
          <span class="rs-only"></span>
        </a>
      </li>

{% endblock %}


{% block bloco_variavel %}

<br/>
<div class="container">
  <button type="button" class="btn btn-outline-primary">Adcionar</button>
</div>
<br/>

{% for x in produtos %}
<!--
<div class="col-lg-4">
  <img src="{{x.imagem.url}}">
  <h3><a href="#">{{x.nome}}</a>
</div>
-->
{% endfor %}

{% endblock %}