
{% extends "base.html" %}

{% block titulo %}
  Home | {{ block.super }}  
{% endblock %}

{% block bloco_variavel %}

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Produtos Exclusivos
        <small>Para você colecionador</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="static/img/lc.png" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Nossa História</h3>
          <p> O Site LanceCerto inicialmente era um site de leilões, mas ... </p>
        </div>

      </div>
      <!-- /.row -->

      <hr/>

      <h3 class="my-4">Produtos Recentes</h3>
      
      <div class="row">
{% for produto in produtos %}

    
      <div class="col-md-3">
        <div class="produto">
        <div class="pic"><img class="img-fluid" src="{{ produto.imagem.url }}" alt=""></div>
        <h3><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}">{{produto.nome}}</a></h3>
        <p><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}"><i class="fa fa-link"></i>Saiba mais</a></p><br/>
        </div>
      </div>

{% empty %}
<p>Nenhum produto cadastrado.</p>
    

{% endfor %}
</div>

      <br>
      <!-- /.row -->

      



{% endblock %}
