{% extends "base.html" %}

{% block titulo %}
  Login | {{ block.super }}
{% endblock %}





{% block bloco_variavel %}

	<div class="jumbotron loginbox">
	<h3>Autenticação</h3><br />
	<hr />
		<div class="container">
			
    {% if form.errors %}
    <div class="alert alert-danger">
      <p>Usuário ou senha inválida. Tente novamente.</p> 
    </div>
    {% endif %}

    {% if next %}
    <div class="alert alert-danger">
    {% if user.is_authenticated %}
    <p>Sua conta não tem permissão para acessar esta página. Realize o login com outra conta.</p>
    {% else %}
    <p>Realize o login para acessar esta página.</p>
    {% endif %}
    </div>
    {% endif %}



      <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <p>{{form.username.label}}: {{ form.username }}</p>
      <p>{{form.password.label}}: {{ form.password }}</p>

      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
      
      <p><input class="btn btn-success" type="submit" value="Enviar" ></p>
      </form>
    
		</div>
	</div>

{% endblock %}