{% extends "base.html" %}


{% block item_ativo %}

			<li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quem Somos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'produtos' %}">Produtos
              <span class="rs-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contatos</a>
            </li> &nbsp; &nbsp; &nbsp; &nbsp; 
            <li class="nav-item">
              <a class="nav-link btn" href="{% url 'login' %}">Fazer Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="{% url 'cadastro' %}">Cadastre-se</a>
            </li>


{% endblock %}

{% block bloco_variavel %}

<h1 class="my-4 text-center text-lg-left">Produtos</h1>

<div class="row mt">
{% for produto in produtos %}

    
      <div class="col-lg-6">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        <h3><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}">{{produto.nome}}</a></h3>
        <p><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}"><i class="fa fa-link"></i>Saiba mais</a></p><br/>
      </div>
    

{% endfor %}
</div>

{% endblock %}