{% extends "base.html" %}
{% load static %}

{% block titulo %}
Detalhe do Produto | {{block.super}}
{% endblock %}

{% block bloco_variavel %}

	<div class="container">
		<div class="row mt">
			<div class="col-lg-8">
				<br/>

				<h1>{{produtos.nome}}</h1>
				<hr>
				<h3><b>PREÇO</b></h3>
				<p>{{produtos.preco}} R$</p>
				<br>
				<h3><b>DESCRIÇÃO</b></h3>
				<p>{{produtos.descricao}}</p>
				<br>
				<h3><b>VENDEDOR</b></h3>
				<p>{{produtos.vendedor}}</p>
				<br>
				<h3><b>CATEGORIAS</b></h3>
				<ul>

				{% for cat in produtos.categoria.all %}
					<li>{{cat}}</li>	
				{% endfor %}
				
				</ul>
				<br>
			</div>
			<div class="col-lg-4">
				<br/>

				<img class="img-fluid" src="{{ produtos.imagem.url }}"><br/><br/>
				<a href="{% url 'carrinho' %}?op=adicionar&id={{produtos.id}}"><button type="button" class="btn btn-green">Adicionar ao Carrinho</button></a>
			</div>
		</div>
		<div class="row mt">
		<div class="col-lg-12">
			<hr/>
			<p>Data de cadastro do Produto: {{produtos.data_cadastro}}</p>
			<p>Última modificação: {{produtos.data_modificacao}}</p>
		</div>
			
		</div>
	</div>

{% endblock %}
