{% extends "base.html" %}

{% block titulo %}
Produtos | {{block.super}}
{% endblock %}

{% block bloco_variavel %}

<h1 class="my-4 text-center text-lg-left">Produtos</h1>

<hr/>

<form method="get" action="{% url 'produtos' %}">
  <p> Filtros -- 
  Nome: <input type="text" name="nomeget"/> |
  Categoria: <select name="categoriaget"> 
    <option value=""></option>
    {% for cat in categoria %}
    <option value="{{cat.id}}">{{cat.descricao}}</option>
    {% endfor %}
  </select> |
  <button type="submit">Buscar</button></p>
</form>
<hr/>
    

  </select>



</form>

<div class="row">
{% for produto in produtos %}

    
      <div class="col-md-3">
        <div class="produto">
        <div class="pic"><img class="img-fluid" src="{{ produto.imagem.url }}" alt=""></div>
        <h3><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}">{{produto.nome}}</a></h3>
        <p><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}"><i class="fa fa-link"></i>Saiba mais</a></p><br/>
        </div>
      </div>

{% empty %}
<p>Nenhum produto cadastrado.</p>
    

{% endfor %}
</div>

<ul class="pagination">
{% for i in produtos.paginator.page_range %}
  {% if produtos.number == i %}
    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
  {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}

{% endblock %}