{% extends "base.html" %}

{% block titulo %}
  Relatórios de Vendas| {{ block.super }}
{% endblock %}


{% block item_ativo %}

			<li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Início
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contatos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login
          <span class="rs-only"></span>
        </a>
      </li>


{% endblock %}


{% block bloco_variavel %}

	<div class="jumbotron rvbox">
    <div>
      <h2>Relatórios de vendas</h2>
      
    </div>
	</div>

{% endblock %}