{% extends "base.html" %}
{% load static %}

{% block titulo %}
Página de Usuário| {{ block.super }}
{% endblock %}

{% block bloco_variavel %}

<h1 class="centered">Página de Usuário</h1><br>
<hr>

	<div class="row mt">
		<div class="col-md-3">
			<p>Olá {{user}}</p>
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			<a href="{% url 'cadastro_produto' %}"><button type="button" class="btn">Cadastrar um Produto</button></a>
		</div>
	</div>
	<hr>
	<h1>Meus Produtos</h1>

	<div class="row">

	{% for produto in produtos %}

    
      <div class="col-md-3">
        <div class="produto">
        <div class="pic"><img class="img-fluid" src="{{ produto.imagem.url }}" alt=""></div>
        <h3><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}">{{produto.nome}}</a></h3>
        <p><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}"><i class="fa fa-link"></i>Saiba mais</a></p><br/>
        </div>
      </div>

	{% empty %}
	<p>Nenhum produto cadastrado.</p>
    
    

	{% endfor %}

</div>




{%  endblock %}
