{% extends "base.html" %}
{% load static %}

{% block titulo %}
Página de Usuário| {{ block.super }}
{% endblock %}

{% block bloco_variavel %}

<h1 class="centered">Página de Usuário</h1><br>
<hr>
<div class="container">
	<div class="row mt">
		<p>Olá {{user}}</p>
	</div>
	<hr>
	<h1>Meus Produtos</h1>
	{% for produto in produtos %}

    
      <div class="col-lg-6">
        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        <h3><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}">{{produto.nome}}</a></h3>
        <p><a href="{% url 'produtos_detalhes' %}?id={{produto.id}}"><i class="fa fa-link"></i>Saiba mais</a></p><br/>
      </div>

	{% empty %}
	<p>Nenhum produto cadastrado.</p>
    

	{% endfor %}


</div>



{%  endblock %}
